@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Estonia&family=Fredericka+the+Great&family=Lato:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Roboto:wght@400;500&family=Rubik+Dirt&family=Share+Tech&family=Titillium+Web:wght@600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Antonio';
    color: aliceblue;
    text-transform: uppercase;
}

h1 {
    color: white;
    z-index: 20;
}



/* FONDO */
body {
    min-height: 99vh;

    background: url('https://images.unsplash.com/photo-1633218388467-539651dcf81f?auto=format&fit=crop&q=80&w=1332&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}

.background {
    position: relative;
    width: 100vw;
    height: 99vh;
    overflow: hidden;
}

.burbujas {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    opacity: 0.5;
}

.burbujas span {
    position: relative;
    width: 30px;
    height: 30px;
    background: violet;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px darkviolet,
        0 0 50px magenta,
        0 0 100px magenta;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.burbujas span:nth-child(even) {
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}




@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);

    }

    100% {
        transform: translateY(-10vh) scale(1);

    }

}



/* pantalla de bienvenida */

.pantallaDeBienvenida2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
    gap: 5%;
}

.logoBienvenida {
    height: 30%;
}

.pantallaDeBienvenida2 div input {
    min-width: 60%;
    height: 50px;
    color: white;
    background-color: #0002006c;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;


}

.pantallaDeBienvenida2 input:active {
    background-color: #0002006c;
    color: white;

}

.pantallaDeBienvenida2 .divInput {
    text-align: center;
    width:60%;
}

.label {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.pantallaDeBienvenida2 input:active {
    background-color: #0002006c;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 30px;
    text-align: center;
    color: white;


}

/* pantalla Categorias */
.inline {
    display: flex;

}

.pantallaCategorias {
    /* height: 99%; */
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcionesBotonCategorias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Organizar en 3 columnas */
    gap: 20px;
    /* Espacio entre las tarjetas */
    padding: 20px;
    text-align: center;

}

.tarjCategoria {
    width: 25vw;
    height: 10vh;
    padding: 15px;
}

/* pantalla de juego */

/* BARRA DE ESTADO */


.barraDeEstado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: solid 1px rgba(206, 206, 206, 0.404);
    margin: 0px 20px;
    padding: 10px;
    letter-spacing: 2px;
    background-color: #0002006c;
}


.puntosObtenidos {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* JUEGO*/

.pantallaJuego {
    width: 99vw;
    height: 99vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor {
    border: solid 0.5px rgba(206, 206, 206, 0.404);
    border-radius: 25px;
    padding: 2%;
    background-color: #0002006c;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.enunciadoPregunta {
    text-transform: uppercase;
    letter-spacing: 2px;
    /* background-color: rgba(0, 0, 0, 0.301); */
    padding: 20px;
    text-align: center;
    color: rgb(206, 206, 206);
}

.enunciadoRespuestas {
    width: 100%;
}

.nombreJugador {
    text-transform: uppercase;
}

.btn {
    text-align: center;
    text-transform: uppercase;
    color: rgb(138, 138, 138);
    letter-spacing: 3px;
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
    border: solid 1px rgb(206, 206, 206);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

/* este boton no deja que se carguen las clases ganadoras o perderoras cuando el mouse esta en el contenedor
/* .btn:hover {
    color: rgb(255, 255, 255);
    border-color: white;
    transition: all ease-out 200ms;
    box-shadow: 0 0 5px #ffffff,
        0 0 10px #ffffff9d,
        0 0 20px #ffffff62;
        z-index:0;

} */

.blanco {
    color: rgb(255, 255, 255);
    border-color: white;
    transition: all ease-out 200ms;


}

/* 
.blanco:hover{

} */


.opcionAcertada {
    text-align: center;
    text-transform: uppercase;
    color: rgb(138, 138, 138);
    letter-spacing: 3px;
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
    color: rgb(74, 238, 74);
    border-color: 74, 238, 74;
    transition: all ease-out 200ms;
    box-shadow: 0 0 5px #41f78c,
        0 0 10px #41f78c,
        0 0 20px #41f78c;
    z-index: 10;
}

.opcionNoAcertada {
    text-align: center;
    text-transform: uppercase;
    color: rgb(138, 138, 138);
    letter-spacing: 3px;
    margin: 20px;
    padding: 15px;
    border-radius: 50px;
    color: rgb(109, 0, 0);
    border-color: rgb(109, 0, 0);
    transition: all ease-out 200ms;
    box-shadow: 0 0 5px #c70d0d,
        0 0 10px #c70d0d,
        0 0 20px #c70d0d;
    z-index: 10;
}

/*cambiar estilo de clase*/


.categoriaGanada {
    padding: 15px;
    color: #fff;
    font-size: 17px;
    border-radius: 50px;
    border: none;
    position: relative;
    background: #090411;
    transition: 0.1s;
}

.categoriaGanada::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #7d2ae8 17.8%, #535EFC 50%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

#toastBox {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: auto;
    padding: 20px;
}

.tostadita {
    width: 100%;
    height: 60px;
    background-color: #09041177;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 15px 0;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 0.5px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;




}

i {
    margin: 10px;
    font-size: 20px;
}

/* pantalla Final */

.pantallaFinal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99%;
}

.pantallaFinal .finalJuego ul {
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
}

.pantallaFinal .finalJuego ul li {
    list-style: none;
    color: transparent;
    font-size: 3em;
    letter-spacing: 15px;
    animation: final 1.4s linear infinite;
}

@keyframes final {
    0% {
        color:transparent;
        text-shadow: none;
    }

    90% {
        color: rgb(93, 24, 110);
        text-shadow: none;

    }

  
}

.pantallaFinal .finalJuego ul li:nth-child(1){
    animation-delay: .2s;
}
.pantallaFinal .finalJuego ul li:nth-child(2){
    animation-delay: .4s;
}
.pantallaFinal .finalJuego ul li:nth-child(3){
    animation-delay: .6s;
}
.pantallaFinal .finalJuego ul li:nth-child(4){
    animation-delay: .8s;
}
.pantallaFinal .finalJuego ul li:nth-child(5){
    animation-delay: 1s;
}
.pantallaFinal .finalJuego ul li:nth-child(6){
    animation-delay: 1.2s;
}
.pantallaFinal .finalJuego ul li:nth-child(7){
    animation-delay: 1.4s;
}
.pantallaFinal .finalJuego ul li:nth-child(8){
    animation-delay: 1.6s;
}
.pantallaFinal .finalJuego ul li:nth-child(9){
    animation-delay: 1.8s;
}
.pantallaFinal .finalJuego ul li:nth-child(10){
    animation-delay: 2s;
}
.pantallaFinal .finalJuego ul li:nth-child(11){
    animation-delay: 2.2s;
}
.pantallaFinal .finalJuego ul li:nth-child(12){
    animation-delay: 2.4s;
}
.pantallaFinal .finalJuego ul li:nth-child(13){
    animation-delay: 2.6s;
}
.pantallaFinal .finalJuego ul li:nth-child(14){
    animation-delay: 2.8s;
}
.pantallaFinal .finalJuego ul li:nth-child(15){
    animation-delay: 3s;
}
.pantallaFinal .finalJuego span{
    color:#535EFC;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}
.pantallaFinal .finalJuego h2{
    letter-spacing: 3px;
    text-align: center;
}

.finalCategoria .pantallaFinalCategoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh ;
    gap: 30px;
    letter-spacing: 3px;
}

.felicitacion{
    font-size: 2.5em;
    color:#535EFC;
}

.puntuacionActual{
    color:#535EFC;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;

}